.post{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    float: left;
}

.izquierda{
    padding: 0px;
    margin: 0px;
    width: 291px;
    height: 100%;
    float: left;
}

.centro{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;          
}
.derecha{
    padding: 0px;
    margin: 0px;
    width: 230px;
    height: 100%;           
    float: right;
}
img{
    width: 200px;
    height: 200px;
}

.etxtPost{
    width: 1000px;
}

.etxtComents{
    width: 500px;
}

.divComents{
    padding-left: 285px;
}

.divComents{
    display: none;
}

.especificComents{
    padding-left: 285px;
}